<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" type="text/css" href="../../public/login.css">
</head>
<body>
    <div id="wrap">
      <div id="header">
        <a href=""><img src="logo192.png" alt="로고"></a>
      </div><!--//header-->
      <div id="container">
        <div id="content">
          <form action="" method="post">

          <div id="user_id">
            <input type="text" class="login" placeholder="아이디" name="id" >
          </div><!--//user_id-->

          <div id="user_pw">
            <input type="password" class="login" placeholder="비밀번호" name="pw">
          </div><!--//user_pw-->

          <input type="button" value="로그인" id="btn_login" class="btn">
          <p>운면따 계정이 없으신가요?</p>
          <input type="button" value="회원가입" id="btn_join" class="btn">

          </form>
        </div><!--//content-->
      </div><!--//container-->
    </div><!--//wrap-->
</body>
</html>