.logo {
  height: 3rem;
  background-color: white;
  width: 100vw;
  line-height: 0.5rem;
  color: black;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 70px;

}

.menu {
  background-color:#35acf6;
  height: 3rem;
}
.login{
  text-align: right;
  background-color: white;
}

a{
  
  color:black;
}
a:hover{
  color:gray;
  text-decoration:none;
}
.url{
  color: #35acf6;
}
.url:hover{
  color: rgba(255, 255, 255, 0.85);
  text-decoration:none;
}
.bg-transparent{
  border: transparent;
}
.imgdiv{
  margin-top: 1rem;
  text-align: center;
  border-radius: 100px;
}
.img{
  text-align: center;
  width: 150px;
  height: 150px;
}
