.logo {
  height: 3.5rem;
  background-color:white;
  width: 100vw;
  line-height: 3.5rem;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.btn1 {
  padding: 10px 20px;
  border-radius: 10px;
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.btn1:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
.menu {
  background-color:gray;
  height: 3.5rem;
}
.login{
  text-align: right;
  font-size: 1rem;
}
a{
  color:black;
}
a:hover{
  color:gray;
  text-decoration:none;
}
.url{
  color: rgba(30, 22, 54, 0.6);
}
.url:hover{
  color: rgba(255, 255, 255, 0.85);
  text-decoration:none;
}
.menu-item {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  line-height: 3.5rem;
  width: 25%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  color:blanchedalmond;
  background-color: black;
}

.menu-item:active, .menu-item.active {
  background-color: gray;
}