.btn {
  margin: 2px;
  text-align: center;
}

.korea{
  margin: 40px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color :darkgray;
  border: black solid 3px;
}
Col{
  padding: 0px 0px 0px 0px ;
  margin: 0px 0px 0px 0px;
}
.korea1{
  
  color: white;
  background-color: gray;
  border: black solid 3px;
}
.testarea{
  margin-top: 1.5rem;
  text-align: center;
}