#mapWrapper{
    text-align: center;
}
nav ul{height:90vh; width:100%;}
<<<<<<< HEAD
=======

>>>>>>> 63b8d75a1dd63ad31a555768da3a97eaeaba17df
nav ul{overflow:hidden; overflow-y:scroll;}

a{
    color:black;
    padding: 5px;
}
.fl{
    width: 20%;
    height: 800px;
    float: left;
}
.fl1{
    width: 80%;
    height: 800px;
    float: left;
}