#mapWrapper{
    text-align: center;
}
nav ul{height:90vh; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}

a{
    color:black;
    padding: 5px;
}
.fl{
    width: 20%;
    height: 800px;
    float: left;
}
.fl1{
    width: 80%;
    height: 800px;
    float: left;
}