#mapWrapper{
    text-align: center;
}

nav ul{height:90vh; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}

a{
    color:black;
    padding: 5px;
}
.submenu{
    width: 280px;
    left: 86px;
    top: 77px;
    bottom: 0;
    overflow: auto;
    font-size: 12px;
    background-color: #e8eced;
    width: 20%;
    height: 870px;
    float: left;
}
.mapdiv{
    width: 80%;
    height: 870px;
    float: left;
}
.roaddiv{
    margin: 0 auto;
    width: 1020px;
    font-family: 'Malgun Gothic', Dotum, sans-serif;
    font-size: 15px;
}
