.App {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 0px;
  margin-top: -150px;
}
.home{

  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-image: url(./image/street.png);  
}
.main{
  background-color: #0e305e;
  
}


 