.App {
  position: relative;
  background-color: #0e305e;
  margin-top: -100px;
  z-index: 2;
}
.home{
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 1;
  background-image: url(./image/street.png);  
}
.main{
  background-color: rgb(255, 255, 255);
}
